[Unit]
Description=Backend
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
User=ubuntu
Group=ubuntu
ExecStart=nodemon ~/src/main.ts
Restart=always

[Install]
WantedBy=multi-user.target